{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <title>نظر سنجی</title>
</head>
<body onload="showdate();">
{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock CSS %}

{% block message %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="successMessage"
             style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 100000;">
            <div class="d-flex px-2 pt-2">
                <i class="far fa-times-circle fa-2x"></i>
                <p class="pt-1 pl-2">{{ message }}</p>
            </div>
            <div class="d-flex justify-content-end">
                <a href="{% url 'end' %}">
                    <button type="button" class="dismiss_btn btn text-primary d-block mr-2" aria-label="Close">
                        <span aria-hidden="true">خیر</span>
                    </button>
                </a>
                <a href="{% url 'all_polls' %}">
                    <button type="button" class="confirm_btn btn btn-primary d-block"aria-label="Close">
                        <span aria-hidden="true">بله</span>
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock message %}

{% block header %}
    <header class="mb-4">
        <div class="container-fluid">
            <div class="container py-3">
                <div class="row justify-content-between font-weight-bolder" style="color: white;">
                    <h3>{{ other.page_header }}</h3>
                    <h6 class="border-bottom">{{ other.left_header }}</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <h6 class="py-2 px-3 rounded" style="background-color: #dc4327;color: white;">{{ other.tanks }}</h6>
        </div>
    </header>
{% endblock header %}

{% block main %}

    <div class="container" style="min-height: 65vh;">
        <div class="row justify-content-center">

            {% block rightsidebar %}
                <div class="sideBar col-12 col-lg-3 my-2">
                    <div class="container-fluid bg-white border shadow-lg p-4 justify-content-center rightsidebar rounded">

                        <img src="{{ other.image.url }}" class="img-fluid" alt="sideBar-img" style="max-width: 100%;">
                        <hr>

                        <div class="mt-3">
                            <div class="d-flex justify-content-between">
                                <p class="small">ساعت:</p>
                                <p class="small text-dark" id="show_time"></p class="small">
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="small">تاریخ:</p class="small">
                                <div class="small" id="date"></div class="small">
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3">
                            <p class="small">{{ other.right_panel }}</p>
                        </div>
                    </div>
                </div>
            {% endblock rightsidebar %}

            {% block content %}
            {% endblock content %}


            {% block leftsidebar %}
                <div class="sideBar col-12 col-lg-3 my-2">
                    <div class="container-fluid bg-white text-left p-4 border shadow-lg leftsidebar rounded">
                        <p class="small">{{ other.left_panel }}</p>
                    </div>
                </div>
            {% endblock leftsidebar %}
        </div>
    </div>

{% endblock main %}

{% block footer %}
    <footer class="mt-4" style="margin-bottom: -20px;">
        <div class="container-fluid">
            <div class="text-center">
                <p class="py-3 small">{{ other.bottom }}</p>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block JS %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>
{% endblock JS %}
</body>
</html>
