{% extends "poll/_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="col-12 col-lg-6 my-2">
        <div class="container bg-white p-4 text-left border shadow-lg rounded">
            <h6 class="text-center mb-4">لطفا به سوالات زیر پاسخ دهید</h6>
            {% for poll in Active_Polls %}

                <div class="poll_style">
                    <form method="GET" action="." id="{{ forloop.counter }}" class="poll_question">
                        <p class="title">{{ poll.title }}</p>
                        {% for item in poll.item.all %}
                            <li>
                                <input type="radio" name="item" id="item_{{ item.id }}" value="{{ item.id }}" data-href='/vote/{{ poll.id }}/'/>
                                <label for="item_{{ item.id }}">{{ item.value }}</label>
                            </li>
                        {% endfor %}
                    </form>
                </div>
            {% empty %}
                <p>شما قبلا در نظر سنجی شرکت نموده اید از همکاریتان متشکریم</p>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'end' %}" class="btn btn-primary">اتمام نظرسنجی</a>
            </div>
        </div>
    </div>
    <!-- JQuery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                let radioValue = this_.val();
                $.ajax({
                    type: "GET",
                    url: likeUrl,
                    data: {
                        'item': radioValue,
                    },
                });
            });
        });
        $(".poll_question").click(function () {
            let this_ = $(this);
            let this_id = this_.attr("id");
            let next_id = parseInt(this_id) + 1;
            $('html, body').animate({
                scrollTop: $('#' + next_id).offset().top
            }, 1500);
        });

    </script>
{% endblock content %}