{% extends "poll/_base.html" %}

{% block content %}
    <div class="col-12 col-lg-6 my-2">
        <div class="container bg-white p-4 text-center border shadow-sm" style="min-height: 50vh;position: relative;">
            <div class="" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">
                <p>{{ other.end }}</p>
            </div>
        </div>
    </div>
{% endblock content %}