{% extends 'poll/_base.html' %}
{% block content %}
    <div class="col-12 col-lg-6 my-2">
        <div class="container bg-white p-4 text-center border shadow rounded" style="min-height: 50vh;position: relative;">
            <div class="" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">
                <p>متنی که قراره توی این صفحه قرار بگیره</p>
                <a class="btn btn-primary px-5 py-3" style="background-color: #1c6e91;" href="{% url "prepoll" %}">شرکت در نظر سنجی</a>  
            </div>  
        </div>
    </div>
{% endblock content %}
