{% extends "poll/_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
        grecaptcha.ready(function () {
            $('#user_form').submit(function (e) {
                var form = this;
                e.preventDefault();
                grecaptcha.execute('{{site_key}}', {action: ''}).then(function (token) {
                    $('#recaptcha').val(token);
                    form.submit()
                });
            })
        });
    </script>
    <div class="col-12 col-lg-6 my-2">
        <div class="container-fluid bg-white p-4 border shadow-lg rounded">

            {% if is_robot %}
                <p>ربات تشخیص داده شده اید</p>
                <p>متاسفانه نمی توانید در نظرسنجی شرکت کنید</p>
            {% endif %}

            <h6 class="mb-4 text-center">لطفا فرم زیر را تکمیل نمائید</h6>

            <form method="POST" action="" class="user_form" id="user_form">
                {% csrf_token %}

                <label>جنسیت:</label>
                {% render_field form.gender type="radio" class="user_form_radio" id="" %}
                {% for error in form.gender.errors %}
                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                {% endfor %}

                <label>سن:</label>
                {% render_field form.age type="radio" class="user_form_radio" id="" %}
                {% for error in form.age.errors %}
                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                {% endfor %}

                <label>تحصیلات</label>
                {% render_field form.education type="radio" class="user_form_radio" id="" %}
                {% for error in form.education.errors %}
                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                {% endfor %}

                <label>میزان درآمد ماهیانه:</label>
                {% render_field form.salary type="radio" class="user_form_radio" id="" %}
                {% for error in form.salary.errors %}
                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                {% endfor %}

                <label for="polling-check">آیا در انتخابات شرکت می کنید؟</label>
                {% render_field form.participation type="radio" class="user_form_radio" id="" %}
                {% for error in form.participation.errors %}
                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                {% endfor %}


                <div class="form-inline">
                    <label class="mr-4">استان محل سکونت:</label>
                    {% render_field form.province class="custom-select" id="" %}
                    {% for error in form.province.errors %}
                        <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                    {% endfor %}
                </div>

                <input type="hidden" name="g-recaptcha-response" id='recaptcha'>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary d-block mt-3 w-50" value="Submit">ثبت</button>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}
