@font-face{
    font-family: iransans;
    src: url('../fonts/IRANSansWeb\(FaNum\).woff')
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iransans;
}

body {
    background-color: #2a7fa3;
}

header {
    background-color: #094b68;
}


.user_form .user_form_radio {
    list-style: none;
    padding-right: 20px;
}

.poll_style {
    list-style: none;
}
.poll_style li {
    padding-right: 20px;
}
.poll_question {
    padding-top: 15px;
    padding-bottom: 120px;
    
}

#successMessage {
    background-color: #fceab1;
}
.confirm_btn, .dismiss_btn {
    min-width: 80px;
}

footer {
    background-color: #094b68;
    color: white;
}
