{% extends 'admin/change_list.html' %}
{% block content %}
    {{ block.super }}

    <a href="{% url 'export_result' %}">
    <div class="submit-row">
            <input type="submit" value="خروجی اکسل">
    </div>
    </a>
{% endblock %}